@layer base {
  .mobile-searchbar {
    @apply animate-[cubic-bezier(0,0,0.2,1)_mobile-searchbar_150ms_forwards];
  }

  .mobile-searchbar.animate\:leave {
    @apply animate-[cubic-bezier(0,0,0.2,1)_mobile-searchbar-leave_150ms_forwards];
  }

  @keyframes mobile-searchbar {
    from {
      transform: scale(1.05);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes mobile-searchbar-leave {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.95);
      opacity: 0;
    }
  }
}